h3{
    font-size: 30px;
    /* text-decoration: overline; */
}

.blog{
    margin: 40px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 20px blueviolet;
}

.second{
    /* display: none; */
    /* visibility: hidden; */
}

.provident{
    border: 2px solid salmon;
}

.header{
    color: yellowgreen;
    height: 250px;
    /* background-image: url('Professional\ Image.jpg'); */
    /* background-image: url('../images/CSE_cover_demo.jpg'); */
    background-image: url('../images/others/Bangladesh_flag.jpg');
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-size: 100px;

}
